.wp-block-hero-landing-poem-hero-landing-poem {
  border: 1px dashed #ccc;
  padding: 1rem;

  .hero-landing-poem-content-editor {
    border: 1px solid #ddd;
    padding: 1rem;
    background-color: #f9f9f9;
  }

  .editor-info-text {
    font-size: 12px;
    color: #777;
    margin-top: 0;
    font-style: italic;
  }
}
